 body.category1 {
  background-color: tortoise;
  margin: 10px;
 }

 body {
    font-size: 3em;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,52,157,1) 35%, rgba(0,212,255,1) 100%);
 }
 
 div.content {
    padding: 50px;
    border: 3px  black dashed;
    border-radius: 20%;

 }